@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-family: "Poppins", Helvetica, sans-serif;
    color: #013A63;
}

.logo {
    width: 250px;
}

#endo_link {
    padding-top: 5px;
    justify-self: center;
}

nav a {
    text-align: center;
    padding: 80px;
    text-decoration: none;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #013A63;
    font-size: 1.25em;
}

nav a:hover {
    background-color: #A9D6E599;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: "Roboto Slab", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #013A63;
}

header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #013A6366;
}

.aboutgrid {
    display: grid;
    grid-template-columns: 415px 85px 415px;
    grid-template-rows: 310px 155px 85px 120px 35px 95px 85px 100px 288px;
    justify-content: center;
}

.family {
    grid-area: 1/1/3/3;
}

.portrait {
    grid-area: 7/2/11/4;
}

.bio1 {
    grid-area: 2/2/6/4;
    background-color: #A9D6E5;
    padding: 4em;
}

.bio2 {
    grid-area: 5/1/9/3;
    background-color: #013A63;
    color: white;
    padding: 4em;
}

#rootcanal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #2A6F97;
    color: white;
    padding: 50px;
}

.what {
    margin-left: 100px;
    align-items: center;
    align-content: center;
}

.micro {
    grid-column: 2/3;
}

.steps {
    text-align: left;
}

h2 {
    color: #2A6F97;
}

.mid {
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #013A63;
}

.collapsible {
    background-color: #A9D6E5;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #013A63;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #A9D6E599;
}

.content {
    padding: auto 18px;
    display: none;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", Helvetica, sans-serif;
    background-color: #013A63;
    color: white;
    align-items: center;
}

.foot-text {
    font-weight: bold;
}

.foot-link {
    text-decoration: none;
    color: white;
}

.foot-link:hover {
    color: #A9D6E5;
}

.bottom {
    margin: 0px auto;
}